<script type="application/ld+json">
{{- $scratch := newScratch -}}
{{- $scratch.Set "title" .Title -}}
{{- with .Description }}{{- $scratch.Set "description" . -}}{{- end -}}
{
  "@context": "https://schema.org",
  "@type": "{{ if .IsHome }}WebSite{{ else }}Article{{ end }}",
  "headline": {{ $scratch.Get "title" | jsonify }},
  {{- with $scratch.Get "description" }}
  "description": {{ . | jsonify }},
  {{- end }}
  "url": {{ .Permalink | jsonify }},
  "author": {
    "@type": "Person",
    "name": {{ .Site.Params.author | jsonify }}
  },
  "publisher": {
    "@type": "Organization",
    "name": {{ .Site.Title | jsonify }}
  },
  "datePublished": {{ .Date.Format "2006-01-02" | jsonify }},
  "dateModified": {{ .Lastmod.Format "2006-01-02" | jsonify }},
  "inLanguage": {{ .Language.Lang | default "en-us" | jsonify }}
}
</script>
