{{- define "main" }}
<div class="posts">
  {{- range sort .Site.RegularPages "Date" "desc" }}
  {{- if and (ne .Kind "home") (ne .Section "") (ne .Type "categories") }}
  {{- $label := .CurrentSection.Title }}
  {{- if eq $label "" }}{{- $label = .Section | title }}{{- end }}
  <article class="post-entry">
    <header class="entry-header">
      <h2 class="entry-hint-parent">{{- .Title }}</h2>
    </header>
    {{- if .Description }}
    <div class="entry-content">
      <p>{{ .Description }}</p>
    </div>
    {{- end }}
    <footer class="entry-footer">
      <div class="entry-footer-row">
        <span>{{- partial "post_meta.html" . -}}</span>
        <a href="{{ .CurrentSection.RelPermalink }}" class="category-tag">{{ $label }}</a>
      </div>
    </footer>
    <a class="entry-link" aria-label="post link to {{ .Title | plainify }}" href="{{ .Permalink }}"></a>
  </article>
  {{- end }}
  {{- end }}
</div>
{{- end }}
